

body {
    /*设置滚动背景*/
    /* The image used */
    background-image: url(gymbg.jpg);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.tagline {
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}



/*about-section的设计*/

.about-section {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 40px;
    margin: 60px auto;
    width: 80%;
    border-radius: 12px;
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
}


/*加入健身房介绍*/
.gym-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin: 40px auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 16px;
}

.feature {
    text-align: center;
}

.feature-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.feature p {
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

.map_contect {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 80%;
    margin: 40px auto 80px auto;
    flex-wrap: wrap; /* 在小屏幕下自动换行 */
}


#map {
    height: auto;
    width: 500px; /* 固定地图宽度 */
    margin: 0; /* 移除自动居中 */
    border-radius: 12px;
}

#map iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 12px;
    display: block;
}


.contact {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    margin-top: 0;
}
